<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
             
                <li><a href="~/Main/University">University</a></li>
                <li><a href="~/Main/Gallery">Gallery</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Contact Us
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Main/Login">Provost Office</a></li>
                        <li><a href="~/Main/Login">Office</a></li>
                        <li><a href="~/Main/Login">Dining</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Main/Registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="~/Main/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
