
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Hall Home </a></li>
                <li><a href="#">Hall Notice</a></li>
                <li><a href="#">Hall Gallery</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Facilities
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Indoor Game</a></li>
                        <li><a href="#">Annual Feast</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </li>
                <li><a href="#">Hall Blood Donors</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Provost/ProvostRegistration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            </ul>

        </div>

    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>






